#profile {
    text-align: center;
    padding: 24px;
}

.profile_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid var(--text-color_links);
}

.profile_name {
    font: var(--text-profile);
    margin-top: 8px;
}

.dark .profile_name {
    color: var(--color-white);
}